<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Roll Result</h1>
    <div>
        <img src="data:image/gif;base64,{{ gif }}" alt="Roll GIF">
        <p>
            <img src="{{ result_image }}">
        </p>
    </div>
    <div>
        <p>{{ detection_text }}</p>
        <p>Elapsed detection time: {{ time_elapsed_detection }}</p>
        <p>Elapsed total processing time: {{ time_elapsed }}</p>

    </div>
    <form action="/roll" method="POST">
        <input type="submit" value="Roll Again">
    </form>
</body>
</html>
