<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll dice IRL - DaaS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>


    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/roll">Roll Dice</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <h1>Roll dice IRL - DaaS</h1>

        <div class="result-container">
            <h2>{{ detection_text }}</h2>
            <div class="result-content"> <!-- New div to wrap images for side by side display -->
                {% if gif %}
                    <img src="{{ gif }}" alt="Roll GIF" id="roll-gif" >
                {% endif %}
                <div id="result-box" style="display: block;">
                    <p>
                        <img src="{{ result_image }}" id="result-img">
                    </p>
                </div>
            </div>

        </div>
        {% if not result_image %}
            <img src="static/gif/awaiting.gif" alt="loading GIF" id="awaiting-gif" style="display: block;">
        {% endif %}
        <img src="static/gif/give-d20.gif" alt="loading GIF" id="loading-gif" style="display: none;">
        <div class="form-container">
            <form action="/roll" method="POST" id="rollForm" onsubmit="disableButton()">
                <span id="show-gif-box">Show gif
                    <input type="checkbox" name="debug" id="debug" checked>
                </span>
                <br>
                <div id="captcha-box">
                    <p>{{ captcha(css_class="captcha") }}</p>
                    <input type="text" name="captcha" required>
                    <br>
                </div>
                <span id="error-message" style="color: red; display: {% if error_message %}block{% else %}none{% endif %};">{{ error_message }}</span>
                <br>
                <input type="submit" id="rollButton" value="Let's roll!">
            </form>
            <form action="/detect" method="POST" id="rolldetectForm">
                <input type="hidden" name="detection_hash" value="{{ detection_hash }}">
                <input type="submit" id="redetectButton" value="Re-detect!">
            </form>
        </div>

        {% if time_elapsed_detection %}
            <div class="info-container" id="info-container" style="display: block;">
                <p>Elapsed detection time: {{ time_elapsed_detection }} | Elapsed total processing time: {{ time_elapsed }}</p>
            </div>
        {% endif %}
        </div>
    <script>
        function disableButton() {
            // Optionally, clear any error messages
            var errorMessageElement = document.getElementById("error-message");
            if (errorMessageElement) {
                errorMessageElement.style.display = "none";
            }

            // Hide the captcha and debug options
            var captchaBox = document.getElementById("captcha-box");
            if (captchaBox) {
                captchaBox.style.display = "none";
            }

            var showGifBox = document.getElementById("show-gif-box");
            if (showGifBox) {
                showGifBox.style.display = "none";
            }

            // Hide or adjust visibility of elements as needed
            var resultContent = document.querySelector('.result-content');
            if (resultContent) {
                resultContent.style.display = "none"; //
            }

            var h2 = document.querySelector('h2');
            if (h2) {
                h2.style.display = "none"; //
            }

            // Hide additional info
            var infoContainer = document.getElementById("info-container");
            if (infoContainer) {
                infoContainer.style.display = "none";
            }

            // Delay the hiding of elements
            setTimeout(function() {
                // Show the loading GIF
                var loadingGif = document.getElementById("loading-gif");
                if (loadingGif) {
                    loadingGif.style.display = "block";
                }

                var awaitingGif = document.getElementById("awaiting-gif");
                if (awaitingGif) {
                    awaitingGif.style.display = "none";
                }

            }, 600); // Delay set to

            // Disable the button after form submission and change its text
            var rollButton = document.getElementById("rollButton");
            if (rollButton) {
                rollButton.disabled = true;
                rollButton.style.cursor = "not-allowed";
                rollButton.value = "Rolling...";
            }
        }

    </script>
</body>
</html>
